<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/headerStyle.css') }}">
    <script src="{{ asset('js/script.js') }}"></script>
    <title>Menu</title>
</head>
<body>
    <nav class="menu">
        <h1>
            <a href="#menu">Start Engine</a>
        </h1>
        <div class="popover" id="menu">
            <div class="content">
                <div class="menu__item">
                    <a class="menu__item-link"  href="{{ path('app_cars') }}">Ver Coches</a>
                    <img class="menu__item-img" src="images/menu/coche.png" alt="Some image">
                    <div class="marquee">
                        <div class="marquee__inner" aria-hidden="true">
                            <span>Ver Coches</span>
                            <span>Ver Coches</span>
                            <span>Ver Coches</span>
                            <span>Ver Coches</span>
                        </div>
                    </div>
                </div>
                <div class="menu__item">
                    <a class="menu__item-link" href="{{ path('app_map') }}">Circuito</a>
                    <img class="menu__item-img" src="images/menu/circuito.png" alt="Some image">
                    <div class="marquee">
                        <div class="marquee__inner" aria-hidden="true">
                            <span>Circuito</span>
                            <span>Circuito</span>
                            <span>Circuito</span>
                            <span>Circuito</span>
                        </div>
                    </div>
                </div>
                <div class="menu__item">
                   <a class="menu__item-link" href="{{ path('app_login') }}">Iniciar Sesión</a>
                    <img class="menu__item-img" src="images/menu/login.png" alt="Some image">
                    <div class="marquee">
                        <div class="marquee__inner" aria-hidden="true">
                            <span>Iniciar Sesión</span>
                            <span>Iniciar Sesión</span>
                            <span>Iniciar Sesión</span>
                            <span>Iniciar Sesión</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </nav>
</body>
</html>
